

* {
    font-family: 'Zilla Slab', serif;
}
#name1, #title2 {
    font-family: 'Zilla Slab Highlight', cursive;

}
#profile {
    width: 290px;
    border-width: 50em;
    /*position: absolute;*/
    height: 260px;
}
.orang{
    color: #e4763d;
    background-color: #efeae8;
}
.brwn {
    color: #452c34;
    background-color: #efeae8;
}
.whte {

    background-color: #efeae8;
}
.card {
    box-shadow: 10px 10px 5px grey;
}
.mi{
    font-size: x-large;
}


